.form {
  display: flex;
  justify-content: center;align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form div {
  display: flex;
}

.link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
}