.area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:  var(--area-port-width);
  height: var(--area-port-height);
  margin: 5px;
}

.frame {
  display: flex;
  width: 90%;
  flex-grow: 1;
  border-left: 5px solid brown;
  border-top: 5px solid brown;
  border-right: 5px solid brown;
  background-color: #0005;
  flex-direction: column-reverse;
}

.port {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  flex-grow: 1;
  background-color: chocolate;
}

.number {
  font-size: 3rem;
}

.eye {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: gray;
}

.bullet {
  width: 4px;
  height: 4px;
  border-radius: 2.5px;
  background-color: aqua;
}

.doorHandle {
  position: absolute;
  align-self: flex-start;
  top: calc(0.45 * var(--area-port-height));
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: brown;
}

.floor {
  height: 10px;
  width: 100%;
  background-color: #ddd;
}

.selected {
  border-left: 5px solid yellow;
  border-top: 5px solid yellow;
  border-right: 5px solid yellow;
}

.selected .number {
  color: yellow;
}

.selected .doorHandle {
  background-color: yellow;
}